:root {
  --morado: hsl(300, 43%, 22%);
  --rosa: hsl(333, 80%, 67%);
  --magentadark: hsl(303, 10%, 53%);
  --magentalight: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html::before {
  content: url(../assets/images/bg-pattern-top-mobile.svg);
  position: absolute;
  z-index: -1;
}

html::after {
  content: url(../assets/images/bg-pattern-bottom-mobile.svg);
  position: absolute;
  bottom: -840px;
  z-index: -1;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  max-width: 375px;
}

.header {
  text-align: center;
}

.header__title {
  font-size: 32px;
  color: var(--morado);
  font-weight: 700;
  padding: 45px 50px 0px 45px;
  line-height: 1;
  letter-spacing: -2px;
}

.header__subtitle {
  color: var(--magentadark);
  font-weight: 500;
  padding: 0 16px 20px 16px;
  text-align: center;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: -0.5px;
}

.rates {
  text-align: center;
}

.rated {
  background-color: var(--magentalight);
  padding: 10px 50px;
  margin: 16px 16px;
  border-radius: 8px;
}

/* TODO El clip-path se coge de la pagina web bennettfeely.com */
/* Esta comentado la opcion que era hacerlo con el clip-path:  */
.rated__star {
  /* background-color: #EF9546;
    margin-right: 3px;
    width: 18px;
    height: 18px;
    clip-path: polygon(50% 0%, 63% 32%, 98% 35%, 71% 57%, 79% 91%, 50% 73%, 21% 91%, 29% 58%, 2% 35%, 37% 32%);
    display: inline-block; */
  background-image: url(../assets/images/icon-star.svg);
  display: inline-block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.rated__text {
  color: var(--morado);
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.testimonials {
  margin-top: 50px;
  position: relative;
}

.testimonial {
  background-color: var(--morado);
  border-radius: 8px;
  margin: 16px 16px;
  padding: 10px 35px;
}

.testimonial__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial__img {
  border-radius: 50%;
  max-width: 17%;
  margin: 30px -3px 30px 0;
}

.testimonial__author {
  margin: 0 25px;
}

.testimonial__title {
  color: var(--magentalight);
  font-size: 13px;
  font-weight: 700;
  margin: 3px;
}

.testimonial__subtitle {
  color: var(--rosa);
  font-size: 13px;
  font-weight: 500;
  margin: 3px;
}

.testimonial__text {
  color: var(--magentalight);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.7;
  margin: 0 0 25px 0;
  letter-spacing: -0.4px;
}
