:root {
  --morado: hsl(300, 43%, 22%);
  --rosa: hsl(333, 80%, 67%);
  --magentadark: hsl(303, 10%, 53%);
  --magentalight: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html::before {
  content: url(../assets/images/bg-pattern-top-mobile.svg);
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  html::before {
    content: url(../assets/images/bg-pattern-top-desktop.svg);
  }
}

html::after {
  content: url(../assets/images/bg-pattern-bottom-mobile.svg);
  position: absolute;
  bottom: -840px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  html::after {
    content: url(../assets/images/bg-pattern-bottom-desktop.svg);
    bottom: 0;
    right: 0;
  }
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: end;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 800px);
  }
}

.header {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    text-align: left;
    margin-right: 130px;
    margin-left: 80px;
    margin-top: 45px;
  }
}

.header__title {
  font-size: 32px;
  color: var(--morado);
  font-weight: 700;
  padding: 45px 50px 0px 45px;
  line-height: 1;
  letter-spacing: -2px;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 3rem;
    margin-bottom: 0;
    width: 500px;
  }
}

.header__subtitle {
  color: var(--magentadark);
  font-weight: 500;
  padding: 0 16px 20px 16px;
  text-align: center;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: -0.5px;
}

@media screen and (min-width: 768px) {
  .header__subtitle {
    text-align: left;
    margin-left: 33px;
  }
}

.rates {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .rates {
    width: 600px;
    height: 220px;
    margin-top: 125px;
  }
}

.rated {
  background-color: var(--magentalight);
  padding: 10px 50px;
  margin: 16px 16px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .rated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 450px;
    padding: 10px 25px;
    margin-left: 0px;
  }

  .rated:nth-child(2) {
    margin-left: 75px;
  }

  .rated:nth-child(3) {
    margin-left: 150px;
  }
}

/* TODO El clip-path se coge de la pagina web bennettfeely.com */
/* Esta comentado la opcion que era hacerlo con el clip-path:  */
.rated__star {
  /* background-color: #EF9546;
    margin-right: 3px;
    width: 18px;
    height: 18px;
    clip-path: polygon(50% 0%, 63% 32%, 98% 35%, 71% 57%, 79% 91%, 50% 73%, 21% 91%, 29% 58%, 2% 35%, 37% 32%);
    display: inline-block; */
  background-image: url(../assets/images/icon-star.svg);
  display: inline-block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .rated__star {
    padding-left: 25px;
  }

  .rated__star:last-of-type {
    margin-right: 25px;
  }
}

.rated__text {
  color: var(--morado);
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .rated__text:last-of-type {
    padding-right: 0;
    margin-right: 0;
  }
}

.testimonials {
  margin-top: 50px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .testimonials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-row: 2;
    grid-column: 1 / 4;
    margin-left: 115px;
    margin-right: 100px;
    margin-top: -350px;
    height: 310px;
  }
}

.testimonial {
  background-color: var(--morado);
  border-radius: 8px;
  margin: 16px 16px;
  padding: 10px 35px;
}

@media screen and (min-width: 768px) {
  .testimonial:nth-child(2) {
    margin-top: 35px;
  }

  .testimonial:nth-child(3) {
    margin-top: 50px;
  }
}

.testimonial__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial__img {
  border-radius: 50%;
  max-width: 17%;
  margin: 30px -3px 30px 0;
}

.testimonial__author {
  margin: 0 25px;
}

.testimonial__title {
  color: var(--magentalight);
  font-size: 13px;
  font-weight: 700;
  margin: 3px;
}

.testimonial__subtitle {
  color: var(--rosa);
  font-size: 13px;
  font-weight: 500;
  margin: 3px;
}

.testimonial__text {
  color: var(--magentalight);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.7;
  margin: 0 0 25px 0;
  letter-spacing: -0.4px;
}
